* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 34, 34);
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px #f9f4f4 inset; /* Define a cor de fundo desejada */
}
